#clockContainer{
    position: relative;
    margin:auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#hour,#minute,#second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    top: 28%;
    height: 20%;
    width: 2%;
    left: 49%;
    /* display: none; */

}
#minute{
    top: 18%;
    height: 32%;
    width: 2%;
    left: 49%;
    /* display: none; */
}
#second{
    top: 7%;
    height: 43%;
    width: 2%;
    left: 48.7%;
}